@model JsoftProject.Models.mstAccount

@{
    ViewBag.Title = "Account Details";
}

<h2>Account Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PANNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PANNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mstBsgrGroup.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mstBsgrGroup.GroupName)
        </dd>

     
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountID }) |
    @Html.ActionLink("Back to List", "ViewDetails","AccountMaster")
</p>
