@model JsoftProject.Models.NewPurchaseModel

@{
    ViewBag.Title = "viewInvoice";
}

<h2>Invoice</h2>

<style>
    .btn {
        /* background-color: blue !important;*/
        background-color: #337ab7;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

        .btn:hover {
            color: purple;
            font-size: large;
            background-color: cornflowerblue;
        }

    .myclass {
        width: 19.666667%;
    }

    .line {
        margin-top: 39px;
        margin-bottom: 14px;
    }
</style>

<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

<!-- JavaScript (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


<div style="width: 100%;">
    <div style="width: 45%; height: 100px; float: left;">

        <div class="form-group">
            @Html.LabelFor(model => model.trnPurchase.VoucherNo, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                <p>@Html.DisplayFor(model => model.trnPurchase.VoucherNo)</p>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trnPurchase.VoucherDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <p>@string.Format("{0:dd-MM-yyyy}", Model.trnPurchase.VoucherDate)</p>

            </div>
        </div>
    </div>


    <div style="margin-left: 50%; height: 100px;">


        <div class="form-group right">
            <div class="form-group" style="padding-left:77px;">
                @Html.LabelFor(model => model.trnPurchase.mstAccount.AccountName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-1" style="margin-left: -44px; display:block;">
                    <p>@Html.DisplayFor(model => model.trnPurchase.mstAccount.AccountName)</p>
                </div>

            </div>
            <br />
            <br />

            <div class="form-group">
                @Html.LabelFor(model => model.trnPurchase.PurchaseType, htmlAttributes: new { @class = "control-label col-md-3", @style = "margin-left:76px;" })
                <div class="col-md-3" style="width: 60%; margin-left:-60px;">

                    @{
                        string a = Model.trnPurchase.PurchaseType.ToString();

                        if (a == "PUR")
                        {
                            <p>Purchase</p>
                        }
                        else if (a == "PURR")
                        {
                            <p>Purchase Return</p>
                        }
                    }



                </div>
            </div>
            <div class="form-group" style="padding-left:77px;">
                @Html.LabelFor(model => model.trnPurchase.InvoiceType, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-1" style="margin-left: -44px;">
                    @Html.DisplayFor(model => model.trnPurchase.InvoiceType)
                </div>
            </div>
            
        </div>
    </div>
</div>

<hr style="border: 1px solid black;">

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Tax
                </th>
                <th>
                    Pieces
                </th>
                <th>
                    MRP
                </th>
                <th>
                    Gross Weight
                </th>
                <th>
                    Net Weight
                </th>

                <th>
                    Rate
                </th>
                <th>
                    Amount
                </th>
                <th>
                    SGST Percentage
                </th>
                <th>
                    SGST Amount
                </th>
                <th>
                    CGST Percentage
                </th>
                <th>
                    CGST Amount
                </th>
                <th>
                    IGST Percentage
                </th>
                <th>
                    IGST Amount
                </th>
                <th>
                    Total Amount
                </th>

            </tr>

            @foreach (var item in Model.trnPurchaseItems)
            {
                <tr>
                    <td>
                        @item.mstItem.ItemName
                    </td>

                    <td>
                        @item.mstTax.TaxName
                    </td>

                    <td>
                        @item.Pcs
                    </td>

                    <td>
                        @item.Mrp
                    </td>
                    <td>
                        @item.GrossWt
                    </td>

                    <td>
                        @item.NetWt
                    </td>

                    <td>
                        @item.Rate
                    </td>

                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @item.SGSTPrc
                    </td>

                    <td>
                        @item.SGSTAmount
                    </td>

                    <td>
                        @item.CGSTPrc
                    </td>

                    <td>
                        @item.CGSTAmount
                    </td>
                    <td>
                        @item.IGSTPrc
                    </td>

                    <td>
                        @item.IGSTAmount
                    </td>
                    <td>
                        @item.TotalAmt
                    </td>

                </tr>
            }



        </table>
    </div>
</div>

<hr style="border: 1px solid black;">



@*<div class="form-group" style="color:red; font-size:large">
        @Html.LabelFor(model => model.trnPurchase.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.trnPurchase.TotalAmount)
        </div>
    </div>

    <div class="form-group" style="color:blue">
        @Html.LabelFor(model => model.trnPurchase.CashAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.trnPurchase.CashAmount)
        </div>
    </div>

    <div class="form-group" style="color:blue">
        @Html.LabelFor(model => model.trnPurchase.ChequeAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.trnPurchase.ChequeAmount)
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.trnPurchase.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.trnPurchase.Remarks)
        </div>
    </div>*@

<div style="border: 2px solid black; width: 500px; height: 449px; padding: 20px;">
    <div class="form-group" style="color:red; font-size:large">
        @Html.LabelFor(model => model.trnPurchase.TotalAmount, htmlAttributes: new { @class = "control-label myclass " })
        <div class="col-md-10">
            <p style="color:maroon;">@Html.DisplayFor(model => model.trnPurchase.TotalAmount)</p>
        </div>
    </div>
    <hr style="border: 1px solid black;" class="line">
    <div class="form-group" style="color:blue; font-size:large; ">
        @Html.LabelFor(model => model.trnPurchase.CashAmount, htmlAttributes: new { @class = "control-label myclass" })
        <div class="col-md-10">
            <p style="color:maroon;">@Html.DisplayFor(model => model.trnPurchase.CashAmount)</p>
        </div>
    </div>
    <hr style="border: 1px solid black;" class="line">
    <div class="form-group" style="color: blue; font-size: large; ">
        @Html.LabelFor(model => model.trnPurchase.ChequeAmount, htmlAttributes: new { @class = "control-label myclass" })
        <div class="col-md-10">
            <p style="color:maroon;">@Html.DisplayFor(model => model.trnPurchase.ChequeAmount)</p>
        </div>
    </div>
    <hr style="border: 1px solid black;" class="line">

    <div class="form-group" style="color: blue; font-size: large; ">
        @Html.LabelFor(model => model.trnPurchase.OutstandingAmount, htmlAttributes: new { @class = "control-label myclass" })
        <div class="col-md-10">
            <p style="color:maroon;">@Html.DisplayFor(model => model.trnPurchase.OutstandingAmount)</p>
        </div>
    </div>
    <hr style="border: 1px solid black;" class="line">

    <div class="form-group" style="font-size: large; ">
        @Html.LabelFor(model => model.trnPurchase.Remarks, htmlAttributes: new { @class = "control-label myclass" })
        <div class="col-md-10">
            <p style="color:maroon;">@Html.DisplayFor(model => model.trnPurchase.Remarks)</p>
        </div>
    </div>
</div>

<br />
<br />





<div>
    @Html.ActionLink("Back to List", "ViewDetails", "NewPurchase", null, new { @class = "btn" })

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

