@model JsoftProject.Models.mstItemGroup

@{
    ViewBag.Title = "Delete Item Group";
}

<h2>Delete Item Group</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Touch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Touch)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.MetalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetalType)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.MesrUnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesrUnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseRateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseRateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesRateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesRateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ViewDetails","MenuItemGroup")
        </div>
    }
</div>
